extend ../layout

block content
  each activity in activities
    div
      ul
        li= activity.name
        li= activity.desc
        li= activity.userId
        li= activity.created_at
        li zhegesghi #{activity.end_at}
        li
          a(href='/activities/' + activity._id) 查看活动
        li
          form(action='/activities/' + activity._id + "?_method=delete", method='post')
            button 删除活动

  include ../_paginate

  div
    a(href='/activities/new') 创建一个活动